@model MYOB_Project.WebGUI.Models.EmployeePayslipResponseViewModel

@{
    ViewBag.Title = "Payslip Details";
}
<div>
    <h4>Payslip Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncomeTax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncomeTax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Super)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Super)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Payslip Generator Form", "Create")
</p>
